<header>
    <h1><%= title %></h1>
    <nav>
        <ul style="padding:0;display:flex;gap:10px;list-style-type: none;">
            <li><a href="/">Главная</a></li>
            <li><a href="/about">О проекте</a></li>
            <li><a href="/users/reg">Регистрация</a></li>
        </ul>
    </nav>
</header>