<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>О проекте</h1>
    <p>Страница находится в разработке</p>
  </body>
</html>
